
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: Arial, sans-serif;
   line-height: 1.6;

}

header {
   width: 100%;
   color: #faf7f7;
   padding: -1px;
   display: flex;
   justify-content: space-between;
   align-items: right;
   
}

#menu {
   position: fixed;
   top: 0;
   left: -250px;
   width: 250px;
   height: 100%;
   background: #e5e5e8;
   padding: 60px 20px;
   transition: left 0.3s ease;
   z-index: 1000;
   display: flex;
   flex-direction: column;
   align-items: center;
}
#menu .anchor{
   color:#100f0f;
   margin-right: 150px;
   top: 10px;
}

#menu.show {
   left: 0;
}
.to-top {
   position: fixed;
   bottom: 20px;
   right: 20px;
   font-size: 2em;
   background: #0e7be1;
   color: #fff;
   padding: 10px;
   border-radius: 50%;
   display: none;
   z-index: 1000;
   text-decoration: none;
   transition: all 0.3s ease;
 }
 
 .to-top:hover {
   background: #555;
 }
 


.myProfile {
   text-align: center;
   margin-bottom: 20px;
   
}

.myProfile img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin-bottom: 10px;
}
.myProfile p {
   font-size: 1.6em;
   color: #000;
   margin: 5px 0;
   font-style: oblique;
}

.socialLink {
   display: flex;
   gap: 10px;
   justify-content: center;
}  

.socialLink img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   transition: transform 0.2s ease;
}

.socialLink img:hover {
   transform: scale(1.2);
}

#mobMen {
   width: 50px;
   height: 50px;
   position: fixed;
   top: 20px;
   right: 20px;
   z-index: 1001;
   border-radius: 50%;
   background: #0e7be1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   gap: 6px;
   transition: all 0.3s ease-in-out;
}

#mobMen .bar {
   width: 25px;
   height: 3px;
   background: #fff;
   transition: all 0.3s ease;
}


#mobMen.active .bar:nth-child(1) {
   transform: rotate(45deg) translate(5px, 5px);
}
#mobMen.active .bar:nth-child(2) {
   opacity: 0;
}
#mobMen.active .bar:nth-child(3) {
   transform: rotate(-45deg) translate(6px, -6px);
}


#menu a {
   color: #fff;
   text-decoration: none;
   font-size: 1.2em;
   margin: 10px 0;
}
nav {
   display: flex;
   justify-content: center;
   
}
.navIcon {
   margin-top: -12px;
   margin-left: 80px;
   
}
.navIcon img {
   width: 20px;
   height: 20px;
   margin: 0 10px;
}
.navIcon a {
   display: flex;
   
}
section {
   padding: 20px;
}

#home {
  position: relative;
  text-align: center;
  background-color: #d2d4d2;
  color: #fff;
  padding: 0;
  overflow: hidden;
}
.slides {
   position: relative;
   height: 600px;
   
}
.slide {
   position:absolute;
   display: none;
   width: 100%;
   top: 0;
   left: 0;
   animation: fade 1s ease-in-out;
}
.slide.active {
   display: block;

}
.slide img {
   width: 100%;
   max-height: 600px;
   object-fit: cover;
   opacity: 0.8;
}
.slide h1 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3em;
   color: #1002d6;
   z-index: 2;
}
.slide h2 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3.6em;
   color: #fff;
   z-index: 2;
}.slide h3 {
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3em;
   color: #1002d6;
   z-index: 2;
}
.dots {
   margin-top: 20px;
 }
 
 .dot {
   height:15px;
   width:15px;
   background-color: #b73b3b;
   display: inline-block;
   border-radius: 50%;
   margin: 0 6px;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 .dot.active {
   background-color: #05912a;
 }
#about {
   display: flex;
   flex-direction: column;
   background: #d2d4d2;
   width: 100%;
   padding: 40px 20px;
   box-sizing: border-box;
 }
 
 #about h1 {
   font-size: 2em;
   margin-left: 30px;
   padding: 5px 0;
   color:#000;
 }
 
 #about p {
   padding: 1px 10px;
   font-size: 1em;
   line-height: 1.6;
 }
 
 .textImg {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 30px;
 }
 
 #image {
   flex: 1;
   display: flex;
   justify-content: center;
 }
 
 #image img {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
 }
 
 .texts {
   display: grid;
   max-width: 600px;
 }
 
 .texts h1 {
   font-size: 1.6em;
   margin-bottom: 10px;
   color: #1a73e8;
 }
 
 .texts p {
   margin: 8px 0;
   padding: 0;
   font-size: 1em;
 }
 
 .texts p strong {
   color: #1a73e8;
 }
.socialIcon img {
   width: 30px;
   height: 30px;
   margin: 5px;
   text-align: right;
   visibility: hidden;
}

/* Progress Bars */
#skills {
   background: #d2d4d2;
}
.skills-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
}
 
.skill {
   width: 48%;
   margin: 10px 0;
}

.progress {
   background-color: #f3f3f3;
   border-radius: 5px;
   height: 20px;
   width: 100%;
}

.progress-bar {
   background: #96a7fb;
   color: #fff;
   text-align: center;
   height: 100%;
   line-height: 20px;
   border-radius: 5px;
   transition: width 0.3s ease;
}

section#resume {
   padding: 20px;
   width: 100%;
   margin: 0 auto;
   background-color: #d2d4d2;
}

h1 {
   font-size: 2rem;
   text-align: left;
   margin-bottom: 20px;
   color: #000;
}

a button {
   display: inline-block;
   background-color: #3498db;
   color: white;
   margin-bottom: 10px;
   padding: 10px 20px;
   text-transform: uppercase;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

a button:hover {
   background-color: #2980b9;
}

.summary {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: space-between;
}

.summaryText {
   flex: 1;
   min-width: 300px;
   background-color: #ecf0f1;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
}

.summaryText h1 {
   font-size: 1.5rem;
   color: #2c3e50;
   margin-bottom: 10px;
}

.summaryText p {
   font-size: 1rem;
   margin-bottom: 10px;
   color: #0c0b0b;
   line-height: 1.8;
}
.subtitle {
   font-size: 1.2rem;
   color: #0c73e0; /* Change this color to whatever you prefer */
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: bold;
}


/* Projects */
 #projects {
   width: 100%;
   margin: 10px 0;
 }
 #projects h1 {
   font-size: 1.4em;
   margin-bottom: 30px;
   margin-left: 10px;
   text-align: left;
 }
 
 .project-slide {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
   background: #111;
   color: #fff;
   border-radius: 16px;
   padding: 30px;
   margin-bottom: 40px;
   box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
   flex-wrap: wrap;
 }
 
 .project-text {
   flex: 1;
 }
 
 .project-text h3 {
   font-size: 24px;
   color: #00aaff;
   margin-bottom: 10px;
 }
 
 .project-text p {
   font-size: 16px;
   color: #ccc;
   margin-bottom: 20px;
 }
 
 .project-text a {
   padding: 10px 20px;
   background-color: #00aaff;
   color: #fff;
   border-radius: 8px;
   text-decoration: none;
   transition: background 0.3s ease;
 }
 
 .project-text a:hover {
   background-color: #0088cc;
 }
 
 .project-image {
   flex: 1;
   text-align: center;
 }
 
 .project-image img {
   width: 100%;
   max-width: 400px;
   border-radius: 12px;
   box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
 }
 #documents {
   text-align: center;
   padding: 40px 20px;
   background-color: #d2d4d2;
   width: 100%;
 }
 
 .fade-carousel {
   position: relative;
   width: 100%;
   max-width: 600px;
   height: 400px; /* Adjust based on your images */
   margin: 0 auto;
   overflow: hidden;
 }
 
 .fade-slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: opacity 1s ease-in-out;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .fade-slide img {
   width: 100%;
   max-height: 300px;
   object-fit: contain;
   border-radius: 16px;
  
 }
 
 .fade-slide h2 {
   margin-top: 15px;
   font-size: 1.5rem;
   color: #333;
 }
 
 .fade-slide:first-child {
   opacity: 1;
 }
 
 
#hobbies {
   width: 100%;
   margin: 10px 0;
   padding: 1px;
   background: #e7ebec;
}
#hobbies h1{
   font-size: 1.6em;
   margin-bottom: 20px;
   margin-left: 10px;
   text-align: left;
}
.hope {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}
.hobby-card {
   display: flex;
   background: #ddd;
   color: #000;
   align-items: center;
   border-radius: 16px;
   padding-left: 10px;
   margin-bottom: 1.5rem;
   overflow: hidden;
   box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
   height: 180px;
 }
 
 .hobby-card img {
   width: 40%;
   height: 100%;
   border-radius: 50%;
   object-fit: cover;
   margin-left: 10px;
 }
 
 .hobby-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 16px;
   width: 60%;
 }
 
 .hobby-info h3 {
   margin-top: 10px;
   font-size: 1em;
   color: #0818c8;
 }
 
 .hobby-info p {
   font-size: .9em;
   margin-bottom: 10px;
   color: #000;
 }
 
 #contact {
   padding-top: 20px;
   background: #d2d4d2;
   width: 100%;
   
 }
 
 #contact h1 {
   font-size: 1.6em;
   margin-bottom: 10px;
 }
 
 #contact p {
   font-size: 1.3em;
   margin-bottom: 10px;
   color: #000;
 }
 
 .form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between; 
   gap: 20px;
 }
 
 .contact-row {
   display: flex;
   align-items: center; 
   gap: 10px; 
 }
 
 .form-group {
   display: flex;
   justify-content: center; 
 }
 
 .form-group img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
 }
 .form-group:hover {
   transform: scale(1.2);
   border-radius: 5%;
 }
 
 .head {
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
 }
 
 .head a {
   font-size: 1.3em;
   color: #0088cc;
   text-decoration: none;
 }
 
 .head p {
   font-size: 1.1em;
   color: #00aaff;
 }
 footer {
   background: #000;
   color: #fff;
   text-align: center;
   padding: 20px;
   height: 90px;
   font-size: 1.6em;
 }
/* Responsive Design */
@media(max-width: 768px) {
   
   #menu {
      padding-top: 10px;
   }
   #mobMen {
      width: 35px;
      height: 35px;
   }
   #mobMen .bar {
      width: 15px;
      height: 2px;
   }
   nav {
      visibility: hidden;
   }
   
   .to-top {
      position: fixed;
      bottom: 10px;
      right: 20px;
      font-size: 1em;
      background: #0e7be1;
      color: #fff;
      padding: 3px;
   }
   .dot{
      height: 10px;
      width: 10px;
   }
   #home {
      background: #fff;
   }
   .slide.active h1{
        font-size: 1em;
   }
   .slide.active h2 {
      font-size: 1.4em;
      color: #fff;
   }
   .slide h3 {
      font-size: 1.4em;
   }
   
   #about {
      display: block;
      background: #fff;
      width: 100%;
   }
   #about h1 {
      font-size: 1.6em;
      margin-left: 30px;
      padding: 5px;
   }
   #about p {
      padding: 1px 20px;
      font-size: 1em;
   }
   #image {
      width: 100%;
      display: flex;
      justify-content: center;
   }
   #image img {
      width: 80%;
      height: auto;
      
   }
   .textImg {
      flex-direction: column;
      text-align: center;
    }
  
    .texts {
      text-align: left;
    }
   .socialIcon img {
      width: 30px;
      height: 30px;
      margin: 5px;
      text-align: right;
      visibility: visible;
   }
   .slides {
      position: relative;
      height: 300px;
      
   }
   .slide {
      position:absolute;
      display: none;
      width: 100%;
      top: 0;
      left: 0;
      animation: fade 1s ease-in-out;
   }
   .slide.active {
      display: block;
   
   }
   .slide img {
      max-height: 300px;
      
   }
   .slide h1 {
      font-size: 2.3em;
   }
   .dots {
      margin-top: 10px;
    }
    
    .dot {
      height:25px;
      width:25px;
      border-radius: 50%;
      margin: 0 3px;
    }
    
    .dot.active {
      background-color: #05912a;
    }

   .skills-container {
       flex-direction: column;
   }
   .skill {
      width: 100%;
   }
   .project-slide {
      flex-direction: column;
      text-align: center;
    }
  
    .project-text, .project-image {
      flex: 1 1 100%;
    }
  
    .project-image img {
      max-width: 100%;
      
    }
    .hope {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      
   }
   .hobby-card img {
      width: 30%;
      margin-left: 10px;
    }
    .hobby-info {
      padding: 40px;
      width: 70%;
    }
  
    .hobby-info p {
      font-size: 1.1em;
    }
    .summary {
      flex-direction: column;
      align-items: center;
   }

   .summaryText {
      width: 100%;
      margin-bottom: 15px;
   }
   .subtitle {
      font-size: 1.1rem;
   }
   .form-group {
      flex-direction: column; 
   }

   .head a, .head p {
      font-size: 1.1em; 
   }
   footer {
      font-size: 1em;
   }
}

